<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-10 col-xl-8">
      <figure class="note note-primary p-4">
        <blockquote class="blockquote">
          <p class="pb-2">{{ quote }}</p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0">{{ author }}</figcaption>
        <button class="btn btn-outline-success" onclick="window.location.reload();">Get Another Quote</button>
      </figure>
    </div>
  </div>
</div>